@model WebProductionAccounting.Domain.Entities.Employee

@{
    ViewBag.Tittle = "Сотрудник";
    Layout = "_Layout";
}

<p>@Model.Lastname</p>
<p>@Model.Firstname</p>
<p>@Model.Middlename</p>
<p>@Model.PersonnelNumber</p>
<p>@Model.Position</p>
<p>@Model.DateOfEmployment</p>